.rootReactionDiffusionCanvas {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

    h2 {
     margin-bottom: 0;
    }

    .pMargin0 {
      margin: 0;
    }
}