.rootHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  details {
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
    summary {
      cursor: pointer;
       width: fit-content
    }
  }
}
